body {
    background-image:url(./../src/images/calculus.jpg);
    display: flex;
    justify-content: center;
    width: cover;
    height: cover;
    margin-top: 150px;
}

.calculatrice {
    height: 350px;
    width: 300px;
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 20px;
}

#result {
    width: 204px;
    height: 30px;
    margin-bottom: 20px;
    color: white;
    background-color: #2a3649;
    border: 3px black solid;
    border-radius: 5px;
}

.buttons button {
    color: white;
    background-color: #2a3649;
}

.buttons .ligne1 button {
    width: 50px;
    height: 40px;
}

.buttons .ligne2 button {
    width: 50px;
    height: 40px;
}

.buttons .ligne3 button {
    width: 50px;
    height: 40px;
}

.buttons .ligne4 button {
    width: 50px;
    height: 40px;
}

.buttons .ligne5 button {
    width: 50px;
    height: 40px;
}
