body {
    background-image:url(./../src/images/calculus.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.calculatrice {
    height: 350px;
    width: 300px;
    background-color: darkolivegreen;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px solid white;
    border-radius: 20px;
}

#result {
    width: 204px;
    height: 30px;
    margin-bottom: 20px;
    border: 2px black solid;
}

.buttons input {
    color: white;
    background-color: royalblue;
}

.buttons .ligne1 input {
    width: 50px;
    height: 40px;
}

.buttons .ligne2 input {
    width: 50px;
    height: 40px;
}

.buttons .ligne3 input {
    width: 50px;
    height: 40px;
}

.buttons .ligne4 input {
    width: 50px;
    height: 40px;
}

.buttons .ligne5 input {
    width: 50px;
    height: 40px;
}
